<html>
  <head>
      <script>
          dataLayer = [];
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGXVZKG');</script>
      <!-- End Google Tag Manager -->

    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!--  Hello Galaxy Code -->
    <script src="hello.js"></script>
    <script src="services/people.js"></script>
    <script src="components/hello.js"></script>
    <script src="components/about.js"></script>
    <script src="components/people.js"></script>
    <script src="components/person.js"></script>

    <!-- Visualizer and url -->
    <link rel="stylesheet" href="styles.css">
    <script src="/node_modules/show-current-browser-url/show-current-browser-url.js"></script>
    <script src="/node_modules/d3/d3.min.js"></script>
    <script src="/node_modules/ui-router-visualizer/bundles/visualizer.min.js"></script>
  </head>

  <body ng-app="hello" ng-class="{'debug-sref': debug.uisref, 'debug-view': debug.uiview}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGXVZKG"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


    <div>
      <button onClick="document.location.reload(true)">reload plunker</button>
      <button ng-click="debug.uiview = !debug.uiview">{{ debug.uiview ? "disable" : "enable"}} ui-view debug</button>
      <button ng-click="debug.uisref = !debug.uisref">{{ debug.uisref ? "disable" : "enable"}} ui-sref debug</button>
    </div>
    <div class="nav">
      <a ui-sref="hello" ui-sref-active="active">Hello</a>
      <a ui-sref="about" ui-sref-active="active">About</a>
      <a ui-sref="people" ui-sref-active="active">People</a>
    </div>

  <div ng-controller="koi">
    <h1>appName: {{appName}}</h1>
    <button ng-click="setName()"> setName</button>
  </div>

    <ui-view></ui-view>
  </body>
</html>
